*{
    margin:0;
    padding:1px;
}
body {
    font-family:'Times New Roman', Times; 
    color: #111010;
    line-height: 1rem;
   }
   
   header {
    display: flex;
    justify-content: space-between;
    flex-direction: column; 

}
header p{
    margin-top:5px;
    border-bottom:1px solid grey;
}
   
   header h1{
    color: #161616;
    display:flex;
    align-items:center;
    margin-top:10px;
   }
   
   header  ul {
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding:20px;
   }
   
   header  ul li {
    margin-right: 1rem;
   }
   
   header a {
    color: #2c12be
   }
   
   .main-section {
    background-size: cover;
    color: #111111;
   }
   
   .left-main h2{
    margin:30px 0px;
   }
   .left-main a{
    margin-top:10px;
    gap:10px;
   }

   
   .main-section  form input {
    width: 200px;
    padding: 0.2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display:block;
   }
   .featured{
    margin-top:50px;
    margin-bottom: 20px;
   }
   
   .listings {
    border-bottom: 1px;
    margin-bottom:0%;
   }
   
   .listings h4 {
    margin-top: 0;
   }
   
   .listings ul li {
    margin:0px;
    padding:0px;
    margin-left: 20px;
    list-style-type: disc;
    color:#111111 ;

   }


   }
   
   .listings a {
    display: block;
    padding: 0.5rem;
    color:rgb(15, 15, 139);
   }
   
   .testimonial {
    padding: 2rem;
    text-align: center;
   }
   
   .testimonial blockquote {
    padding-left: 1rem;
    margin: 0;
   }
   
   .testimonial cite {
    display: block;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
   }
   
   footer {
    display: flex;
    justify-content: space-between;
    padding: 0%;
    color: #141414;
    margin-top:20px;
   }
   