* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #777779;
}

.signin-methods {
    background: rgb(255, 255, 255);
    padding: 40px 50px 50px;
    width: 400px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

.signin-methods h2 {
    margin-bottom: 40px;
    text-align: center;
}

.google-btn,
.apple-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px 0;
    margin: 20px 0;
    border-radius: 30px;
    border: 1px solid #ddd;
    font-weight: 500;
    cursor: pointer;
    background: #fff;
}

.google-btn img,
.apple-btn img {
    width: 25px;
    margin-right: 15px;
}

.google-btn span,
.apple-btn span {
    font-weight: 500;
}

.apple-btn {
    margin-top: 10px;
}

h6 {
    width: 100%;
    text-align: center;
    border-bottom: 1px outset #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

h6 span {
    background: #fff;
    padding: 0 8px;
}

.signin-methods input {
    width: 100%;
    background: transparent;
    border: 1px solid #ddd;
    outline: 0;
    padding: 12px 10px;
    border-radius: 4px;
    margin: 10px 0;
}

.next-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px 0;
    border-radius: 30px;
    border: none;
    background-color: #000;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.forgot-pass-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px 0;
    border-radius: 30px;
    border: none;
    background-color: white;
    color: black;
    font-weight: 500;
    cursor: pointer;
}